header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 1170px;
  margin: 0 auto;
  div img{
    margin: 20px 90px 10px 0;
    @media screen and (max-width: 900px){
        width:250px;
      }
    }

  ul{
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      list-style-type: none;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      text-decoration: none;
      margin: 0 7px;
      a{
        text-decoration: none;
        color: black;
      &:hover {
        color: #ffac55;
      }
    }
  }
  }
}